<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Quản lý Garage | Đăng nhập</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="./css/style.css">
</head>

<body>
  <div class="main_login">
    <div class="login">
      <h1 class="title">Đăng nhập</h1>
      <form method="post" action="home.html">
        <div class="txt_field">
          <input type="text" required>
          <span></span>
          <label>Tên đăng nhập</label>
        </div>
        <div class="txt_field">
          <input type="password" required>
          <span></span>
          <label>Mật khẩu</label>
        </div>
        <div class="btn">
          <div class="inner"></div>
          <button type="submit">Đăng nhập</button>
        </div>
        <div class="more-info">
          Trang web Quản lý Garage Ô tô
        </div>
      </form>
    </div>
  </div>
</body>

</html>