<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>Quản Lý Garage Ô Tô</title>

   <!-- Bootstrap Core CSS -->
   <link href="./css/bootstrap.min.css" rel="stylesheet">

   <!-- MetisMenu CSS -->
   <link href="./css/metisMenu.min.css" rel="stylesheet">

   <!-- Timeline CSS -->
   <link href="./css/timeline.css" rel="stylesheet">

   <!-- Custom CSS -->
   <link href="./css/startmin.css" rel="stylesheet">

   <!-- Morris Charts CSS -->
   <link href="./css/morris.css" rel="stylesheet">

   <!-- Custom Fonts -->
   <link href="./css/font-awesome.min.css" rel="stylesheet" type="text/css">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

   <!-- CSS tự code ở đây -->
   <link rel="stylesheet" href="./css/style.css">
</head>

<body>

   <div id="wrapper">
      <!-- NAVBAR -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="navbar-header">
             <a class="navbar-brand" href="index.html"> QUẢN LÝ GARAGE Ô TÔ</a>
         </div>

         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
         </button>

         <ul class="nav navbar-right navbar-top-links">
             <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                     <i class="fa fa-user fa-fw"></i> 5idiots <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu dropdown-user">
                     <li><a href="taikhoan.html"><i class="fa fa-user fa-fw"></i> Thông tin tài khoản</a>
                     </li>
                     <li><a href="doimatkhau.html"><i class="fa fa-gear fa-fw"></i> Đổi mật khẩu</a>
                     </li>
                     <li class="divider"></li>
                     <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                     </li>
                 </ul>
             </li>
         </ul>

         <div class="navbar-default sidebar" role="navigation">
             <div class="sidebar-nav navbar-collapse">
                 <ul class="nav" id="side-menu">
                     <li>
                         <a href="home.html"> <i class="fa fa-fw">&#xf015</i> Dashboard</a>
                     </li>
                     <li>
                         <a href="tiepnhanxe.html"><i class="fa fa-fw">&#xf1b9</i></i>Tiếp nhận xe</a>
                     </li>
                     <li>
                         <a href="phieusuachua.html"><i class="fa fa-edit fa-fw"></i>Phiếu sửa chữa</a>
                     </li>
                     <li>
                         <a href="phieuthutien.html"><i class="fa fa-edit fa-fw"></i>Phiếu thu tiền</a>
                     </li>
                     <li>
                        <a href="baocaotonkho.html"><i class="fa fa-fw">&#xf15c</i> Báo cáo tồn
                            kho</a>
                    </li>
                     <li>
                         <a href="tracuu.html"><i class="fa fa-fw" >&#xf002</i>Tra cứu</a>
                     </li>
                     <li>
                         <a href="#"><i class="fa fa-wrench fa-fw"></i>Cập nhật<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                             <li>
                                 <a href="capnhat_hieuxe.html">Hiệu xe</a>
                             </li>
                             <li>
                                 <a href="capnhat_moi_vtpt.html"> Thêm mới VTPT</a>
                             </li>
                             <li>
                                 <a href="capnhat_soluong_vtpt.html"></i>Số lượng VTPT</a>
                             </li>
                             <li>
                                 <a href="capnhat_phisuachua.html">Phí sửa chữa</a>
                             </li>
                         </ul>
                     </li>
                     
                     <li>
                         <a href="quydinh.html"><i class="fa fa-edit fa-fw"></i> Quy định</a>
                     </li>
                     <li>
                         <a href="#"><i class="fa fa-fw">&#xf007</i>Quản lý Tài khoản<span class="fa arrow"></span></a>
                         <ul class="nav nav-second-level">
                             <li>
                                 <a href="taikhoan_vaitro.html">Vai trò</a>
                             </li>
                             <li>
                                 <a href="taikhoan_quyen.html">Quyền</a>
                             </li>
                         </ul>
                     </li>
                    
                     <li>
                         <a href="thongtin.html"> <i class="fa fa-fw">&#xf05a</i></i>Thông tin</a>
                     </li>
                     
                     
     
                 </ul>
             </div>
         </div>
     </nav>


      <!-- Page Content -->
      <div id="page-wrapper">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-12">
                  <div class="main_dl">
                     <div class="note-repair">
                        <h1 class="title">Lập phiếu sửa chữa</h1>
                        <div class="box">
                           <form method="post">
                              <div class="input-group">
                                 <div class="left">
                                    <div class="txt_field">
                                       <select class="inputtion" name="hieuxe" id="bienso" required>
                                          <option value=""></option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                       </select>
                                       <span></span>
                                       <label>Biển số xe</label>
                                    </div>
                                    <div class="txt_field">
                                       <select class="inputtion" name="hieuxe" id="vtpt" required>
                                          <option value=""></option>
                                          <option value="1">Option 1</option>
                                          <option value="2">Option 2</option>
                                          <option value="3">Option 3</option>
                                          <option value="4">Option 4</option>
                                       </select>
                                       <span></span>
                                       <label>Vật tư phụ tùng</label>
                                    </div>
                                    <div class="txt_field">
                                       <input type="number" required id="soluong">
                                       <span></span>
                                       <label>Số lượng</label>
                                    </div>
                                 </div>
                                 <div class="right">
                                    <div class="txt_field">
                                       <div class="avail-field" id="ngaysua"> Ngày sửa: <span id="date" style="padding-left: 5px;"></span></div>
                                    </div>
                                    <div class="txt_field">
                                       <input type="number" required id="tiencong">
                                       <span></span>
                                       <label>Tiền công</label>
                                    </div>
                                    <div class="txt_field">
                                       <div class="avail-field" id="tongtien"> Tổng tiền: </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="btn-group">
                                 <!-- <div>
                                    <input style="width: auto; padding: 0 20px;" class="btn" type="submit" name="themphieu" value="Thêm phiếu" id="themphieu">
                                 </div> -->
                                 <div>
                                    <input style="width: auto; padding: 0 20px;" class="btn" type="button"
                                       name="capnhat" value="Cập nhật giá" id="capnhat">
                                 </div>
                                 <div>
                                    <input style="width: auto; padding: 0 20px;" class="btn" type="submit"
                                       name="luuphieu" value="Lưa phiếu sửa chữa" id="luuphieu">
                                 </div>
                                 <div>
                                    <input id="btn-clear" type="button" class="btn" value="Clear">
                                 </div>
                              </div>
                              <div class="btn-group">

                              </div>


                              <!-- <div class="more-info">
                                 Trang web Quản lý Garage Ô tô
                              </div> -->
                           </form>
                        </div>
                        <div id="result">
                           <table>
                              <thead>
                                 <tr>
                                    <th>STT</th>
                                    <th>Biển số</th>
                                    <th>Tên phụ tùng</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Loại tiền công</th>
                                    <th>Chi phí sửa</th>
                                    <th>Thành tiền</th>
                                    <th></th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <th scope="row">001</th>
                                    <td>70E1-12345</td>
                                    <td>Win Enchantix</td>
                                    <td>Phép thuật Win</td>
                                    <td>0909445566</td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td><button type="button" class="btn">Remove</button>
                                 </tr>
                                 <tr>
                                    <th scope="row">002</th>
                                    <td>70E1-12345</td>
                                    <td>Win Enchantix</td>
                                    <td>Phép thuật Win</td>
                                    <td>0909445566</td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td><button type="button" class="btn">Remove</button>
                                 </tr>
                                 <tr>
                                    <th scope="row">003</th>
                                    <td>70E1-12345</td>
                                    <td>Win Enchantix</td>
                                    <td>Phép thuật Win</td>
                                    <td>0909445566</td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td><button type="button" class="btn">Remove</button>
                                 </tr>
                                 <tr>
                                    <th scope="row">004</th>
                                    <td>70E1-12345</td>
                                    <td>Win Enchantix</td>
                                    <td>Phép thuật Win</td>
                                    <td>0909445566</td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td><button type="button" class="btn">Remove</button>
                                 </tr>
                                 <tr>
                                    <th scope="row">005</th>
                                    <td>70E1-12345</td>
                                    <td>Win Enchantix</td>
                                    <td>Phép thuật Win</td>
                                    <td>0909445566</td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td>Đại học CNTT </td>
                                    <td><button type="button" class="btn">Remove</button>
                                 </tr>

                           </table>
                        </div>
                     </div>



                  </div>

               </div>
               <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
         </div>
         <!-- /.container-fluid -->
      </div>
      <!-- /#page-wrapper -->

   </div>
   <!-- /#wrapper -->
   <script>
      $(function () {
         $('#capnhat').click(function () {
            console.log('click');
            $('#result').slideToggle();
         });
      });

      $('#result tbody').on('click', '.btn', function () {
         var length = $('#result tbody tr').length;
         console.log(length);
         if (length === 1) {
            $('#result thead tr').closest('tr').remove();
            $(this).closest('tr').remove();
         } else {
            $(this).closest('tr').remove();
         }
      });

      function layNgay() {
         let d = new Date();
         let day = d.getDate();
         let month = d.getMonth() + 1;
         let year = d.getFullYear();
         let date = document.getElementById('date');
         let html = day + '/' + month + '/' + year;
         date.innerHTML = html;
         // console.log(html);
      }
      layNgay();
   </script>
   <!-- jQuery -->
   <script src="../js/jquery.min.js"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="../js/bootstrap.min.js"></script>

   <!-- Metis Menu Plugin JavaScript -->
   <script src="../js/metisMenu.min.js"></script>

   <!-- Custom Theme JavaScript -->
   <script src="../js/startmin.js"></script>

</body>

</html>